alias top="htop"
alias cat="bat"

alias gs="git stash"
alias gcne="git commit --amend --no-edit"
alias gmc="git merge --continue"
alias grc="git rebase --continue"

alias gowork="cd /Users/user/Documents/innotech"
