source ~/.vimrc

set ideajoin
set hlsearch
nmap zij :source ~/.ideavimrc<CR>
:set surround
:set clipboard+=unnamed 
nmap z; A;<Esc>
imap z; <Esc>A;

nmap ,p "0p
nmap ,P "0P
imap z,p <Esc>"0pa
imap z,P <Esc>"0Pa
nmap hh ^
imap zh <Esc>I
nmap ll $
imap zl <End>

nmap zct o<Esc>mby?@Test<CR>`bp?void<CR>w

nmap zk :action Back<CR>
nmap zj :action Forward<CR>
nmap zn :action GotoNextError<CR>
imap zn <Esc> :action GotoNextError<CR>
nmap zd :action GotoDeclaration<CR>
nmap zfu :action FindUsages<CR>

nmap zra zz:action RearrangeCode<CR>zz:action ReformatCode<CR>zz:action Rerun<CR>
imap zra <Esc>zz:action RearrangeCode<CR>zz:action ReformatCode<CR>zz:action Rerun<CR>
map zrr :action RenameElement<CR>
map zri :action Inline<CR>
map zrf :action IntroduceField<CR>
map zrp :action IntroduceParameter<CR>
nmap zsp vi":action IntroduceParameter<CR>

map zrv :action IntroduceVariable<CR>
vmap zrv <Esc>:action IntroduceVariable<CR>
vmap zrm :action ExtractMethod<CR>
vmap M :action ExtractMethod<CR>
vmap \s :action SurroundWith<CR>
map zrt :action SearchEverywhere<CR>
map zro :action Move<CR>
nmap ,m :action FileStructurePopup<CR>

nmap ,g :action Generate<CR>
nmap ,c :action NewElementSamePlace<CR>
nmap <Space> :action AceAction<CR>
nmap <A-L> :set rnu!<CR>

nmap <Tab> >>
nmap <S-Tab> <<

nmap zao :action SelectAllOccurrences<CR>
nmap vw viw

