source ~/.vimrc

set visualbell
set ideajoin
nmap <Space>ij :source ~/.ideavimrc<CR>
:set surround
:set clipboard+=unnamed 

nmap <CR> ciw
nmap <S-CR> ciW


imap <C-h> <Left>
imap <C-l> <Right>
imap <C-j> <Down>
imap <C-k> <Up>

nmap <C-d> <C-d>zz
nmap <C-u> <C-u>zz

nmap n nzzzv
nmap N Nzzzv
nmap <Space>y va{Vy

vmap p "_dp
vmap P "_dP
vmap < <gv
vmap > >gv
vmap J :m '>+1<CR>V
vmap K :m '<-2<CR>V

nmap <Space>k :action Back<CR>
nmap <Space>j :action Forward<CR>
nmap <Space>n :action GotoNextError<CR>
nmap <Space>d :action GotoDeclaration<CR>
nmap <Space>fu :action FindUsages<CR>

nmap <Space>ra zz:action RearrangeCode<CR>zz:action ReformatCode<CR>zz:action Rerun<CR>
map <Space>rr :action RenameElement<CR>
map <Space>ri :action Inline<CR>
map <Space>rf :action IntroduceField<CR>
map <Space>rv :action IntroduceVariable<CR>
map <Space>rp :action IntroduceParameter<CR>
nmap <Space>sp vi":action IntroduceParameter<CR>

map <Space>rv :action IntroduceVariable<CR>
vmap <Space>rv <Esc>:action IntroduceVariable<CR>
vmap M :action ExtractMethod<CR>
vmap \s :action SurroundWith<CR>
map <Space>ro :action Move<CR>
nmap ,m :action FileStructurePopup<CR>

nmap ,g :action Generate<CR>
nmap ,c :action NewElementSamePlace<CR>
nmap <A-L> :set rnu!<CR>

nmap <Space>ao :action SelectAllOccurrences<CR>
nmap vw viw

